[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
click = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
sqlalchemy = "*"
sqlalchemy-serializer = "*"
flask-cors = "*"
marshmallow = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
flask-httpauth = "*"

[requires]
python_version = "3.8.2"
